
.like{
    background-color: green;
}

.inactive{
    background-color: gray;
}

.dislike{
    background-color: red;
}

.active{
    background-color: blueviolet;
}


/* .block{
    height: 2000px;
    width: 1000px;
    border: none;

} */