
.like{
    background-color: green;
    width: 80px;
    height: 22px;
    border-radius: 14px;
}

.inactive{
    background-color: gainsboro;
    width: 80px;
    height: 22px;
    border-radius: 14px;
}

.dislike{
    background-color: red;
    width: 80px;
    height: 22px;
    border-radius: 14px;
}


.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;

}

.table {
    margin-left: 50%;
    margin-right: 50%; 
    background-color: rgba(188, 245, 226, 0.858)
}





h1 {
    background-color: white; 
    padding: 36px;
    margin: auto;
    margin-bottom: 50px;
    margin-left: -10px;
    margin-right: -20px;
    margin-top: -20px;
   
}
.text-muted {
    background-color: white; 
}

.form-group {
    padding-bottom: 10px;
}

.bottom-part {
    margin-left: 20%;
}


.custom {
    margin-left: 75%;
    display: flex;
    margin-top: 12px;
}

ul {
    list-style: none;
    border-style: solid;
    border-color: #918f8f;
    border-radius: 11px;
    background-color: white;
    margin-left: 215px;
    margin-right: 217px;
}

body {
    background-color: #7fffd430;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    border-bottom: 5px solid #1a191970;
    border-bottom-width: medium;
    word-wrap: break-word;
    padding: 6px;
}



.button {
    margin: 1em;
    background-color: #3939e4;
    /* position: relative; */
    right: -396px;
    color: white;
    border-radius: 30px;
}

.bottom-part {
    list-style: none;
    border-style: solid;
    border-color: #918f8f;
    border-radius: 11px;
    background-color: white;
    margin-left: 215px;
    margin-right: 217px;
    padding: 12px;
}

.name {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.text-muted {
    color: gray;
}
.date {
    border-radius: 5px;
}